{% block thumbnail %}
    <a href="{{ get_url(path=page.path) }}" >
    {%- if page.extra.thumbnail %}
        {%- set image_path = page.colocated_path ~ page.extra.thumbnail %}
        {%- set image = resize_image(path=image_path, width=config.extra.thumbnail_width, height=config.extra.thumbnail_height, format=config.extra.thumbnail_format, quality=config.extra.thumbnail_quality, op="fill") %}

        <img style="max-width: 100%; max-height: 100%; display: block;" src="{{ image.url }}" alt="{{ page.title }}" />
    {%- endif %}
    <div class="img-overlay"></div>
    <div class="img-text">{{ page.title }}</div>

    </a>
{% endblock thumbnail %}
