<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/icon2.png">
  <title>Lucy Dalzell</title>

<!-- JS for MathJax -->
		<script>

    // https://zola.discourse.group/t/maths-support-via-mathjax/1000

		window.MathJax = {
		  tex: {
			inlineMath: [['$','$'], ['\\(','\\)']],
			displayMath: [ ['$$','$$'], ["\\[","\\]"], ]
		  },
		  startup: {
			ready: () => {
					
					// get pre and code elements
					var prelist = document.getElementsByTagName("pre");
					var codelist = document.getElementsByTagName("code");
					// get delimiters for inline and display math
					var inline = MathJax.config.tex.inlineMath;
					var display = MathJax.config.tex.displayMath;
					// start building  a RegExp for each of these math types
					var inlineRegexList = [];
					var displayRegexList =[];
					for(i=0;i<inline.length;i++) {
						// https://stackoverflow.com/questions/3446170/escape-string-for-use-in-javascript-regex
						delimLEsc = inline[i][0].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
						//alert(delimLEsc);
						delimREsc = inline[i][1].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
						inlineRegexList.push("("+delimLEsc+")((.|[\\r\\n\\t])*?)("+delimREsc+")");
					};
					for(i=0;i<display.length;i++) {
						// https://stackoverflow.com/questions/3446170/escape-string-for-use-in-javascript-regex
						delimLEsc = display[i][0].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
						//alert(delimLEsc);
						delimREsc = display[i][1].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
						displayRegexList.push("("+delimLEsc+")((.|[\\r\\n\\t])*?)("+delimREsc+")");
					};
					inlineRegExp = new RegExp(inlineRegexList.join("|"));
					displayRegExp = new RegExp(displayRegexList.join("|"));
					
					// iterate over pre elements applying RegExp
					// iterate "backwards" as we are removing elements!
					for (i=prelist.length; i>0; i--) {
						if(displayRegExp.test(prelist[i-1].textContent)) {
							var t = document.createTextNode(prelist[i-1].textContent);
							prelist[i-1].parentNode.insertBefore(t,prelist[i-1]);
							prelist[i-1].parentNode.removeChild(prelist[i-1]);
						}
					}
					// iterate over code elements applying RegExp
					// iterate "backwards" as we are removing elements!
					for (i=codelist.length; i>0; i--) {
						if(inlineRegExp.test(codelist[i-1].textContent)) {
							var t = document.createTextNode(codelist[i-1].textContent);
							codelist[i-1].parentNode.insertBefore(t,codelist[i-1]);
							codelist[i-1].parentNode.removeChild(codelist[i-1]);
						}
					}
			  // Now process the page in MathJax
			  MathJax.startup.defaultReady();

        document.getElementById('content').classList.remove("content-hidden");
			}
		  }
		};
		</script>
		<script type="text/javascript" id="MathJax-script" defer
		  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
		</script>

{% include "theme.html" %}

  <style>

    .topnav {
      pointer-events: none;
      background-color: var(--nav-bg);
    }

    #title-side-nav {
      left: 20px;
    }

    #theme-toggle {
      margin-right: 20px;
    }

    .content-hidden {
      display: none;
    }

  </style>
</head>
<body onresize="resize()">


<div id="topnav" class="topnav">
  <div id="title-side-nav" style = "position: absolute; pointer-events: auto;">
    <a href="#">Resume</a>
  </div>

  <div style="position: absolute;left: 50%; transform:translate(-50%, 0%);
    text-align: center; height:100%; width: 100%; pointer-events: none;">
    <div style="font-size: var(--font-size);
      position: absolute; top:calc(50% - 1px); width:100%;
      transform:translate(0, -50%);">
      <a style="pointer-events: auto; cursor: pointer;" href="/">Lucy Dalzell</a>
    </div>
  </div>

    <div id="theme-toggle" style="transition: margin-right 0.4s ease;margin-left: auto; pointer-events: auto;">
        <div style="width:50px; text-align: center;" onclick="toggleTheme()" class="theme-toggle">
        &#127774;
        </div>
      </div>

</div>

<div class="content, content-hidden" id="content">
{% block content %} {% endblock %}
</div>

{% include "theme-selecting.html" %}

<script>
  function resize() {
    const thin = window.innerWidth < 800;
    contentHeight = document.body.scrollHeight - window.innerHeight;

    const widthProgress = (800 - window.innerWidth) / 500;

    let fontSize = 1.4;

    if (thin) {
      fontSize = 1.4 - 0.2 * widthProgress;
    }

    document.documentElement.style.setProperty('--font-size', `${fontSize}rem`);
  }

  resize();
</script>
</body>
</html>
